{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="home-section section-hero inner-page overlay bg-image" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Резюме</h1>
              <p>Создайте свое резюме и начните искать работу прямо сейчас!</p>
            </div>
          </div>
        </div>
      </div>
</section>
{% endblock %}